/*投稿詳細画面*/

header{
    text-align: center;
    font-family: Impact;
    font-size: 40px;
    border-bottom: 3px solid black;
    background-color: #E6E6FA;
}

body{
    text-align: center;
    font-family: Impact;
    background-color: #F5F5F5;
}
